<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h3>Welcome <%= currentUser %></h3>
        <p>profile page</p>
    </div>

    <div id=videoSelector class=video-selector>
      videos placement
    </div>
    

</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script src="../../static/js/profile_video.js"></script>
<script src="../../static/js/jquery-3.1.1.js"></script>
</body>
</html>
