<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Chat-Pal</h1>
        <h3>Welcome <%= currentUser %></h3>
        <p>lesson page</p>
    </div>

    <div class="video-wrapper">
      <div id="video-placeholder">

      </div>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script>
var player;
function onYouTubeIframeAPIReady() {
    player = new YT.Player('video-placeholder', {
        width: 800,
        height: 500,
        videoId: '<%= vidId %>',
        playerVars: {
            autoplay: 1,
            color: 'white',
            controls:0,
            rel:0,
            iv_load_policy: 3,


        },
        events: {
            // onReady: initialize,
            // onStateChange: checkPause
        }
    });
}

</script>
<!-- <script src="../../static/js/profile_watch.js"></script> -->
<script src="../../static/js/jquery-3.1.1.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
