<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h3>Welcome <%= currentUser %></h3>
        <p>lesson page</p>
    </div>

    <div class="video-wrapper">
      <div id="video-placeholder">

      </div>
    </div>
    <div id="scriptWrapper" class="script-wrapper">
      <div id="scriptPlaceholder" class="script-scriptholder">
        <p>script should be here</p>

      </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="../../static/js/jquery-3.1.1.js"></script>
<script>
var player;
function onYouTubeIframeAPIReady() {
    player = new YT.Player('video-placeholder', {
        width: 800,
        height: 500,
        videoId: '<%= vidId %>',
        playerVars: {
            autoplay: 1,
            color: 'white',
            controls:0,
            rel:0,
            iv_load_policy: 3,


        },
        events: {
            onReady: console.log('youtube video is loaded'),
            // onStateChange:
        }
    });
}
var loadedScript = <%- JSON.stringify(script) %>
var scriptFile = [loadedScript[0].script]
console.log(loadedScript)
console.log('this is scriptfile '+ scriptFile)
console.log(scriptFile.length)
var scriptFileArray = [...scriptFile[0]]
console.log('this is the script array', scriptFileArray, scriptFileArray.length)
 for(i=0; i<scriptFileArray.length; i++){
console.log('for loop is working')
 $("#scriptPlaceholder").append("<div id=scriptSent"+i+" class=script-sent> </div>")
 $("#scriptSent"+i).text(scriptFileArray[i].content)
}
</script>
<!-- <script src="../../static/js/profile_watch.js"></script> -->

<script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
